*{
  background-color:lemonchiffon
}
a{
  padding: 20px 0;
}
ul, ol{
  width: 250px;
  border: 1px solid;
  padding: 20px 0;
  background-color:white;
}
li{
  background-color:white;
  padding: 20px 0;
div{
  padding: 20px;
}
h1{
  font-size:3rem;
  font-align:center;
  font-family:'Oswald', sans-serif;
  padding: 20px 0;
}

